#ignore everything
*

#but not this files and folders
!LICENSE
!.gitignore
!.gitmodules

!/.backup
!/.backup/*
#not ignore .config
!/.config
#ignore .config/*
/.config/*

 
!/.config/mpv
/.config/mpv/*
!/.config/mpv/input.conf
!/.config/mpv/mpv.conf


!/.config/qutebrowser
/.config/qutebrowser/*
!/.config/qutebrowser/autoconfig.yml

!/.config/lazygit
!/.config/lazygit/*
/.config/lazygit/state.yml

!/.config/gtk-3.0
!/.config/gtk-3.0/*
 
 

 
!/.config/ncmpcpp
!/.config/ncmpcpp/*


!/.config/mpd
!/.config/mpd/*
 
!/.config/neofetch
!/.config/neofetch/*
 
 
!/.config/nvim
!/.config/nvim/*
!/.config/nvim/PlugIns
!/.config/nvim/PlugIns/*
!/.config/nvim/UltiSnips
!/.config/nvim/UltiSnips/*
!/.config/nvim/runFileConfigurations
!/.config/nvim/runFileConfigurations/*

 
 
!/.config/wget
!/.config/wget/*
 
!/.config/X11
!/.config/X11/.Xmodmap
 
 
!/.config/zathura
!/.config/zathura/*
 
!/.config/ranger
!/.config/ranger/*

!/.config/sc-im
!/.config/sc-im/*


!/.config/sh
!/.config/sh/*


!/.config/vlc
!/.config/vlc/*


!/.config/xmodmap
!/.config/xmodmap/*




!/.config/mimeapps.list
!/.config/pavucontrol.ini


 
#not ignore .local
!/.local
#ignore .local/*
/.local/*

!/.local/bin
!/.local/bin/*
!/.local/bin/*/*


!/.local/src
!/.local/src/cfiles
!/.local/src/cfiles/*
!/.local/src/dwm
!/.local/src/dwm/*
!/.local/src/dmenu
!/.local/src/dmenu/*
!/.local/src/dwmblocks
!/.local/src/dwmblocks/*
!/.local/src/st
!/.local/src/st/*

 
!/images
!/images/*
!/images/background
!/images/background/*
!/images/leftbg
!/images/leftbg/*
!/images/rightbg
!/images/rightbg/*

.config/mpd/log
.config/mpd/database
.config/mpd/pid

.config/pavucontrol.ini

.config/nvim/PlugIns/firenvim
.config/nvim/PlugIns/fzf
.config/nvim/PlugIns/fzf.vim
.config/nvim/PlugIns/vim-airline
.config/nvim/PlugIns/vim-fugitive
.config/nvim/PlugIns/vim-rainbow
.config/nvim/PlugIns/vimspector
.config/nvim/PlugIns/ale
.config/nvim/PlugIns/asyncrun.vim
.config/nvim/PlugIns/awesome-vim-colorschemes
.config/nvim/PlugIns/coc.nvim
.config/nvim/PlugIns/emmet-vim
.config/nvim/PlugIns/firenvim
.config/nvim/PlugIns/jupyter_ascending.vim
.config/nvim/PlugIns/md-img-paste.vim
.config/nvim/PlugIns/minimap.vim
.config/nvim/PlugIns/omnisharp-vim
.config/nvim/PlugIns/rainbow
.config/nvim/PlugIns/ultisnips
.config/nvim/PlugIns/vim-airline-themes
.config/nvim/PlugIns/cmake
.config/nvim/PlugIns/vim-devicons
.config/nvim/PlugIns/vim-easy-align
.config/nvim/PlugIns/vim-easymotion
.config/nvim/PlugIns/vim-floaterm
.config/nvim/PlugIns/vim-fugitive
.config/nvim/PlugIns/vim-latex-live-preview
.config/nvim/PlugIns/peekaboo
.config/nvim/PlugIns/vimspector



.config/nvim/PlugIns

# ignore the proteus program
.local/bin/windowsPrograms/Proteus 7 Professional


.config/qutebrowser
.local/src/st

# testing the zsh functionality
#
#
#
#for ignoring all the windows programs
.local/bin/windowsPrograms
.local/bin/windowsPrograms/*

.config/X11/.Xmodmap
.config/X11/temp.sh
.config/lazygit/config.yml
.config/mpv/input.conf
.config/mpv/mpv.conf
.config/sc-im
.config/vlc
.config/zathura
.config/mimeapps.list
.config/zsh/.zdirs


# include .leetcode 
!.leetcode
!.leetcode/*



!version.txt

.leetcode/Problems
